@charset "UTF-8";

@media screen and (orientation:portrait) {
    section {
        width: 80vw;
        height: 400px;
    }
    div > p > input {
        width: 28vw;
    }
    div > p#sexo {
        display: flex;
    }
    div > p#botao > input{
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    div#res > img {
        display: block;
        margin: auto;
        width: 50%;
    }    
}